<%= provide(:title,"Create Subscription") %>
<h1>Create Subscription</h1>

<%= form_for @subscription, html: { role: "form"} do |f| %>
      <%= render 'shared/error_messages_subscription' %>

      <div class="form-group">
      <%= f.label :user_id %>
      <% options = options_from_collection_for_select(@users.order("name ASC"), 'id', 'name') %>
	  <%= f.select :user_id,  options, required: true %>
      </div>

      <div class="form-group">
      <%= f.label :list_id %>
      <% options = options_from_collection_for_select(@lists.order("name ASC"), 'id', 'name') %>
	  <%= f.select :list_id,  options, required: true %>
      </div>

      <%= f.submit "Create New Subscription", class: "btn btn-large btn-primary" %>
    <% end %>